<% include ./partials/header %>


<% blogs.forEach(function(blog){  %>
    <div>
        <div class="caption">
            <h2><%= blog.title %></h2>
            <p>
                <a href="/blogs/<%= blog._id %>" class="" title="More info about <%= blog.title %>">More Info</a>
            </p>
        </div>
        <img src="<%= blog.image %>" width="300px" height="300px">
        <span><%= blog.created %></span>
        <p><%= blog.body %></p>
    </div>

<% }) %>

<% include ./partials/footer %>